.container {
  --row-gap: 0.25rem;
  --column-gap: 0.5rem;

  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: var(--row-gap);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #fff;

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    width: 100%;
    border-radius: 999px;
    transition:
      background-color 0.2s ease-in-out,
      color 0.15s ease-in-out,
      transform 0.2s ease-in-out;

    &[data-today='true'] {
      outline-offset: -1px;
      outline: 1px solid #1e90ff;
    }
    &[data-selected='true'] {
      background: #ff4500;
      outline: 0px;
      color: #fff;
    }
    &[data-selected='true'][data-this-month='false'] {
      background: #ff4500;
      color: #fff;
    }
    &[data-this-month='false'] {
      color: #808080;
    }
    &[data-start-month='true'],
    &[data-end-month='true'] {
      font-weight: bold;
    }
    &:hover:not([data-selected='true']) {
      background: #ffa500;
      outline: 0px;
      color: #fff;
    }
  }
}

.dayLabel {
  & span {
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dayRows {
  display: flex;
  flex-direction: column;
  gap: var(--row-gap);
}

.dayLabel,
.dayRow {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--column-gap);
}
