.datepicker-container {
  font-family: Arial, Helvetica, sans-serif;

  button {
    cursor: pointer;
    background-color: transparent;
    text-align: inherit;
    font: inherit;
    appearance: none;
  }
}
